<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
        crossorigin="anonymous">

    <title>Users</title>
</head>

<body>

    <% include headers/header.ejs %>
        <div class="container-fluid">
            <h3>Device search</h3>

            <div class="input-group mb-3" style="width: 400px;">
                <form action="/devices" method="POST" id="deviceSelForm">
                    <div class="input-group-prepend">
                        <button class="btn btn-outline-secondary" type="submit">Submit</button>
                    </div>
                </form>

                <select class="custom-select" name="device" form="deviceSelForm" id="ddlsers">
                    <option>
                        - Devices -
                    </option>
                    <% deviceArray.forEach(function (item) {%>
                        <option>
                            <%= item.maas360DeviceID%>
                        </option>
                        <% });%>
                </select>
            </div>
        </div>

        <ul class="list-group">
            <li class="list-group-item disabled">
                Device Name:
                <small>
                    <%= selectedDevice.deviceName%>
                </small>
            </li>
            <li class="list-group-item disabled">
                MaaS360 Device ID:
                <small>
                    <%= selectedDevice.maas360DeviceID%>
                </small>
            </li>
            <li class="list-group-item disabled">
                Assigned to:
                <small>
                    <%= selectedDevice.username%>
                </small>
            </li>
            <li class="list-group-item disabled">
                Manufacturer:
                <small>
                    <%= selectedDevice.manufacturer%>
                </small>
            </li>
            <li class="list-group-item disabled">
                Operating System:
                <small>
                    <%= selectedDevice.osName%>
                </small>
            </li>
        </ul>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
            crossorigin="anonymous"></script>
</body>
</html>